<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /react/got/build/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /react/got/build/index.html [L]
</IfModule>
